@font-face {
  font-family: 'comic_sans_msregular';
  src: url('comic-webfont.woff2') format('woff2'),
    url('comic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

title1 {
  font-size:350%;
  padding-top: 0px;
  padding-bottom: 0px;
}

mark {
  background-color: black;
  color: white;
}
